{% extends 'base.html' %}

{% block title %}Response Data{% endblock %}

{% block content %}
    <h1>Response Data</h1>
    <p>{{ message }}</p>

    <h2>Graph Images</h2>
    {% for image in graph_images %}
        <img src="data:image/png;base64,{{ image }}" alt="Graph Image" class="img-fluid mb-3" style="max-width: 100%; height: auto;" />
    {% endfor %}

    <h2>CSV Data</h2>
    <div class="table-responsive">
        {{ ranking |safe }}
    </div>

    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}
